<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
    <title>Error Page</title>
	<!--css file load section-->
	<link href="static/css/bootstrap.css" rel="stylesheet">
	<link href="static/css/home.css" rel="stylesheet">
	<!--end css file load section-->
   
  </head>

  <body>

    <div class="container">
      <div class="header">
        <h2 class="text-muted">Lenovo OS Enablement</h3>
      </div>

	  <!-- information show section -->
      <div class="jumbotron">
        <h1>{{error}}</h1>
      </div>
	  <!-- end information show -->

      <footer class="footer">
		<p>If you have any suggestions, please contact <a href="mailto:cuilj2@lenovo.com">Neo Cui</a></p>
        <p>&copy; Lenovo 2018</p>
      </footer>
    </div>

  </body>

</html>

