<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
    <title>Lenovo OS Enablement</title>

	<link href="static/css/bootstrap.min.css" rel="stylesheet" />
	<link href="static/css/bootstrap-table.css" rel="stylesheet" />
	<link href="static/css/log.css" rel="stylesheet" />
	<link href="static/css/bootstrap-select.css" rel="stylesheet">

	<script src="{{url_for('static', filename='js/jquery-1.11.2.js')}}"></script>
	<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/log.js')}}"></script>
	<script src="{{url_for('static', filename='js/bootstrap-table.js')}}"></script>
	<script src="{{url_for('static', filename='js/bootstrap-select.js')}}"></script>
	<script src="{{url_for('static', filename='js/jquery.tmpl.js')}}"></script>
	<script>
	$(function(){
		GetLogs();
		$('#btnUpdate').click(function(){
			$('#listTable').bootstrapTable('destroy');
			$.ajax({
				url : '/updateLog',
				data : {comment:$('#editComment').val(),stat:$('#editStatus').val(),logid:localStorage.getItem('editLogId')},
				type : 'POST',
				success: function(res){
					$('#editModal').modal('hide');
					GetLogs();
				},
				error: function(error){
					console.log(error);
				}
			});
		});
		$('#btnDelete').click(function(){
			$('#listTable').bootstrapTable('destroy');
			$.ajax({
				url : '/deleteLog',
				data : {logid:localStorage.getItem('deleteLogId')},
				type : 'POST',
				success: function(res){
					var result = JSON.parse(res);
					if(result.status == 'OK'){
						$('#deleteModal').modal('hide');
						GetLogs();
					}
					else{
						alert(result.status);	
					}
				},
				error: function(error){
					console.log(error);
				}
			});
		});
	});
	</script>
    
  </head>

<body>
<div class="container">
	<div class="header">
		<nav>
		<ul class="nav nav-pills pull-right">
			<li style="text-align:center;font-size:180%">
				{{username}}
			</li>
			<li role="presentation"><a href="/home">Home</a></li>
			<li role="presentation" class="active"><a href="/device">Device</a></li>
			<li role="presentation" class="active"><a href="/logout">Logout</a></li>
		</ul>
		</nav>
		<h2 class="text-muted">Lenovo OS Enablement</h3>
	</div>
	<hr />

	<div class="well">
	<div id="toolbar">
		<a href='/showAddLog'>
			<button id="showAddLog" class="btn btn-warning">Add Record</button>
		</a>
	</div>
	<table id="listTable"
		data-toggle="true"
		data-toolbar="#table_toolbar"
		data-search="true"
		data-show-columns="true"
		data-pagination="true"
		data-page-size="10"
		data-pagination-first-text="First"
		data-pagination-pre-text="Previous"
		data-pagination-next-text="Next"
		data-pagination-last-text="Last"
		data-show-pagination-switch="true"
		data-row-style="rowStyle"
		>
	</table>		
	</div>


	<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title" id="editModalLabel">Update Log</h4>
				</div>
				<div class="modal-body">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">Information</h3>
						</div>
						<div class="panel-body">
							<textarea class="form-control" id="showInfo" disabled="disabled"></textarea>
						</div>
					</div>
				<form role="form">
					<div class="form-group">
						<label for="message-text" class="control-label">Comment:</label>
						<textarea class="form-control" rows="5" maxlength="3000" id="editComment"></textarea>
					</div>
					<div class="form-group">
						<label for="select" class="control-label">Status: </label>
							<select class="selectpicker" data-width="fit" id="editStatus" data-style="btn-warning" show-menu-arrow>
								<option>valid</option>
								<option>invalid</option>
							</select>
					</div>
				</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button id="btnUpdate" type="button" class="btn btn-primary">Update</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header" style="text-align:center;">
					<h4 class="modal-title" style="color:red;" id="deleteModalLabel">You are going to Delete this forever !!</h4>
				</div>
     
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button id="btnDelete" type="button" class="btn btn-primary">Delete</button>
				</div>
			</div>
		</div>
	</div>

      
      <footer class="footer">
		<p>If you have any suggestions, please contact <a href="mailto:cuilj2@lenovo.com">Neo Cui</a></p>
        <p>&copy; Lenovo 2018</p>
      </footer>

	</div>

</body>
</html>

